body {
    background-color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#333;
    margin:0 auto;    
}

/* .container-main {
    border-style: dashed;
    border-width: 0.5px;
    border-color: red;
    width: 1200px;
    height: 600px;
} */

.container {
    width: 960px;
    height: 430px;
    border-style: dashed;
    border-width: 1px;
    border-color: black;
    background-color:white;
    margin-left: 245px;
}

h1 {
    width: 200px;
    background:blue;
    color:#eee;
    font-size: 28px;
    /* text-align: center */
    margin-left: 245px;
    margin-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
   }

h2 {
    font-size:24px;
    width:900px;
    margin:0 auto;
    margin-bottom: 10px;
}

#main-bio {
    float:left;
    width:95%;
    margin-top: 25px;
    margin-left: 25px;
}

#bio-image {
    float:left;
    width:200px;
    margin-right: 10px;
}

a {
    color: #d21034;
}

p { 
    margin-top:0px;
}

.hr-about {
    border: none;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: red;
}

.hr-main {
    border: none;
    margin: 0px;
    height: 3px;
    margin-bottom: 30px;
    background-color: red;
}

.top-white {
    height: 91px;
    padding-top: 5px;
    background-color: white;
}

.float-menu-item {
    float: right;
    width: 60px;
    text-align: center;
    margin-top: 30px;
    margin-right: 50px;
}

#menu {
    margin-right: 182px;
}

.underline-none {
    text-decoration: none;
}